[packages.faderpunk]
scopes = ["faderpunk"]
versioned_files = [
  "faderpunk/Cargo.toml",
  { path = "Cargo.lock", dependency = "faderpunk" },
]
changelog = "faderpunk/CHANGELOG.md"
assets = "artifacts/faderpunk*"

[packages.libfp]
scopes = ["libfp"]
versioned_files = [
  "libfp/Cargo.toml",
  { path = "Cargo.lock", dependency = "libfp" },
]
changelog = "libfp/CHANGELOG.md"

[packages.configurator]
scopes = ["configurator"]
versioned_files = ["configurator/package.json"]
changelog = "configurator/CHANGELOG.md"

[[packages.configurator.assets]]
path = "artifacts/configurator.zip"

# --- Workflows ---

[[workflows]]
name = "prepare-release"

[[workflows.steps]]
type = "Command"
command = "git switch -c release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = "./gen-bindings.sh"

[[workflows.steps]]
type = "Command"
command = "git add -A"

[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: prepare release\""

[[workflows.steps]]
type = "Command"
command = "git push --force --set-upstream origin release"

[[workflows.steps]]
type = "CreatePullRequest"
base = "main"

[workflows.steps.title]
template = "chore: prepare release"

[workflows.steps.body]
template = "Merging this PR will create new releases.\n\nSee the updated changelogs in this PR for details."

[[workflows]]
name = "prepare-beta"

[[workflows.steps]]
type = "PrepareRelease"
prerelease_label = "beta"

[[workflows]]
name = "release"

[[workflows.steps]]
type = "Release"

[github]
owner = "ATOVproject"
repo = "faderpunk"
